@import url("variables.css");

.button-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.button-container .button-85 {
    height: 3rem;
    width: 30rem;
    font-size: 1.25rem;
}

.quote {
    font-family: serif;
    color: var(--color-foreground);
}

.quote-author {
    color: var(--color-cyan);
}

#splash-screen {
    display: grid;            /* Enables Grid Layout */
    place-items: center;      /* Centers both vertically and horizontally */
    height: 100vh;
}

#splash-screen h1 {
    font-size: 5rem; /* 1.5 times the base font size (24px) */
    margin: 0px;
}

#splash-screen .quote {
    font-size: 1.5rem; /* 1.5 times the base font size (24px) */
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.gradient-h1 {
    font-weight: bold;                /* Optional: bold text */
    color: var(--color-cyan);
}
