/* 
 *
 *
 * Spash screen
 *
 *
 *
 */


@import url("reset.css");
@import url("variables.css");

@import url("splash-screen.css");
@import url("quiz-page.css");
@import url("cta-modal.css");
@import url("glowy-button.css");


.container {
    display: flex;
    height: 100vh;                /* Full height of the viewport */
}

/* Sidebar styles */
#sidebar {
    width: 250px;                 /* Fixed width for the sidebar */
    background-color: var(--color-background);    /* Optional: Sidebar background */
    border-right: solid .4rem var(--color-current-line);
}

/* Main content styles */
.main-content {
    flex-grow: 1;                 /* Makes this div take up the remaining space */
}