/* 
 *
 *
 * Spash screen
 *
 *
 *
 */


@import url("reset.css");
@import url("variables.css");

@import url("splash-screen.css");
@import url("quiz-page.css");
@import url("sidebar.css");
@import url("cta-modal.css");
@import url("glowy-button.css");


.container {
    display: flex;
    height: 100vh;                /* Full height of the viewport */
}


/* Main content styles */
.main-content {
    flex-grow: 1;                 /* Makes this div take up the remaining space */
}
