/* Dracula colorscheme. */
:root {
    --color-background: #282A36;
    --color-current-line: #44475A;
    --color-foreground: #F8F8F2;
    --color-comment: #6272A4;
    --color-cyan: #8BE9FD;
    --color-green: #50FA7B;
    --color-orange: #FFB86C;
    --color-pink: #FF79C6;
    --color-purple: #BD93F9;
    --color-red: #FF5555;
    --color-yellow: #F1FA8C;
}